<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Site do evento EventeX">
        <meta name="author" content="Diogo Damiani - @diogodamiani">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />

        <title>EventeX 2012</title>
    
        <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/default.css" />
               
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"> </script>
        <![endif]-->
    </head>
    
    <body>

    	<div class="section" id="page"> <!-- Defining the #page section with the section tag -->
    
            <header> <!-- Defining the header section of the page with the appropriate tag -->

                <h1 id="logo"><a href="/">EventeX</a></h1>
                <h3 id="slogan">O evento mais sensacional do ano!</h3>
                
                <nav class="clear"> <!-- The nav link semantically marks your main site navigation -->
                    <ul>
                        <li><a href="{% url subscriptions:subscribe %}">Inscrições</a></li>
                        <li><a href="{% url core:talks %}">Agenda</a></li>
                        <!--<li><a href="#article3">Palestrantes</a></li>-->
                    </ul>
                </nav>

                <div class="line"></div>  <!-- Dividing line -->
            </header>

            <div class="section" id="articles"> <!-- A new section with the articles -->
				{% block content %}
                {% endblock content %}
            </div>

            <footer> <!-- Marking the footer section -->

               <div class="line"></div>
               
               <p>Copyright 2012 - www.eventex.com.br</p> <!-- Change the copyright notice -->
               
               <a href="http://www.djangoproject.com/" class='django'><img src="http://media.djangoproject.com/img/badges/djangosite100x25_grey.gif" border="0" alt="A Django site." title="A Django site." /></a>

               <a href="http://tutorialzine.com/2010/02/free-xhtml-css3-website-template/" class="by">Template by Tutorialzine</a>
            </footer>
            
		</div> <!-- Closing the #page section -->
        
        <!-- JavaScript Includes -->
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </body>
</html>