{% extends 'base.html' %}

{% load slideshare %}
{% load youtube %}

{% block content %}

<div class="article" id="article1">
  <h2>Detalhe da Palestra</h2>

  <div class="line"></div>

  <div class="articleBody clear">

    <h3>{{ talk.title }}</h3>
    
    {% for speaker in talk.speaker.all %}
      <h5><a href="{% url core:speaker_detail speaker.slug %}" title="{{ speaker.description|truncatewords:20 }}">
        {{ speaker.name }}
      </a></h5>
    {% endfor %}
    
    <p>{{ talk.description }}</p>
    
    {% for slide in slides %}
      <p>{% slideshare slide.media_id slide.title %}</p>
    {% endfor %}
    
    {% for video in videos %}
      <p>{% youtube video.media_id %}</p>
    {% endfor %}

    <p><a href="{% url core:talks %}">Voltar</a></p>
  </div>
</div>

{% endblock content %}