{% extends 'base.html' %}

{% block content %}

<div class="article" id="article1">
  <h2>Grade de Palestras</h2>

  <div class="line"></div>

  <div class="articleBody clear">
    <h3>Manhã</h3>
      {% for talk in morning_talks %}
        {% include 'core/talks_snippet.html' %}
      {% empty %}
        <p>Não existem palestras durante a manhã.</p>
      {% endfor %}
    
    <div class="line"></div>

    <h3>Tarde</h3>
      {% for talk in afternoon_talks %}
        {% include 'core/talks_snippet.html' %}
      {% empty %}
        <p>Não existem palestras durante a tarde.</p>
      {% endfor %}
  </div>
</div>

{% endblock content %}