<!-- 
Código antigo para incorporar SlideShare.
<object id="__sse{{ id }}" width="425" height="355">
  <param name="movie"
    value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc={{ doc }}" />
  <param name="allowFullScreen" value="true"/>
  <param name="allowScriptAccess" value="always"/>
  <embed name="__sse{{ id }}"
    src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc={{ doc }}"
    type="application/x-shockwave-flash"
    allowscriptaccess="always"
    allowfullscreen="true"
    width="425"
    height="355">
  </embed>
</object> 
-->

<div style="width:425px" id="__ss_{{ id }}"> 
  <iframe src="http://www.slideshare.net/slideshow/embed_code/{{ id }}?rel=0" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>